
form :is(input, textarea) {
    background-color: var(--surface0);
    border: none;
    color: var(--text);
    font-size: 1em;
    padding: 0.5em;
    font-family: inherit;
    border-radius: 0.5em;
    max-width: 100%;
    margin: 0.2em;
    border: 2px solid var(--border);
}

form :is(input[type=text], input[type=email]) {
    width: 20em;
}

form fieldset {
    border-radius: 0.5em;
}

#preference-fieldset {
    background: url("../media/light-background.avif") no-repeat center;
    background-size: 100%;
}

body.dark #preference-fieldset {
    background: url("../media/dark-background.avif") no-repeat center;
    background-size: 100%;
}